@using MvcCV.Models.Entity
@model List<TblSosyalMedya>

<div class="social-icons">
    <a class="social-icon" href="#"><i class="fab fa-linkedin-in"></i></a>
    <a class="social-icon" href="#"><i class="fab fa-github"></i></a>
    <a class="social-icon" href="#" style="padding-top:6px;"><i><img src="~/images/mediumwhite.png" alt="medium" style="padding-bottom:3px"></i></a>
</div>